@import url("../../medium/css/media.css");

.block-content .block-text {
    font-size: 12px;
    line-height: 22px;
}

#buddypress ul.item-list li {
    border-bottom: none;
    padding: 15px;
    margin: 0;
    position: relative;
    list-style: none;
    width: 50%;
    float: left;
}

#buddypress div#item-header #item-header-cover-image #item-header-content {
    margin-top: -80px;
}

@media screen and (max-width: 782px) {
	#buddypress div#item-header #item-header-cover-image #item-header-content {
	    margin-top: 0;
	}

	#buddypress ul.item-list li {
	    border-bottom: none;
	    padding: 15px 0;
	    margin: 0;
	    position: relative;
	    list-style: none;
	    width: 100%;
	    float: left;
	}
}

@media screen and (max-width: 768px) {
	.home-footer {
	    min-height: 0;
	}
}

@media screen and (max-width:568px){
    .block-content .block-title{
       font-size: 18px;
    }
    .block-content .block-text{
        font-size: 12px;
        line-height: 22px;
    }
}
