.post-meta {

  hr {
    margin: 2px 0;
  }

  .meta-card {
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: .35rem;
    padding: .35rem;
    margin-top: .55rem;
  }
}
