@import url("../../medium/css/media.css");

body.directory .block-title,
body.buddypress .block-title {
	display:none;
}

.block-content {
    padding: 5px 0 40px 0;
}

.block-content .block-text {
    font-size: 12px;
    line-height: 22px;
}

#buddypress div#item-header #item-header-cover-image #item-header-content {
    margin-top: -80px;
}

#buddypress ul.item-list {
    border: none;
}

#buddypress #members-list li,
#buddypress #groups-list li {
    border: none;
    width: 50%;
    float: left;
    margin-top: 10px;
}

#buddypress ul.item-list li div.action {
    top: 18px;
    right: 20px;
}

@media screen and (max-width: 782px) {
	#buddypress div#item-header #item-header-cover-image #item-header-content {
	    margin-top: 0;
	}

  #buddypress #members-list li,
  #buddypress #groups-list li {
      border: none;
      width: 100%;
      float: left;
  }
}

@media screen and (max-width: 768px) {
	.home-footer {
	    min-height: 0;
	}
}

@media screen and (max-width:568px){
    .block-content .block-title{
       font-size: 18px;
    }
    .block-content .block-text{
        font-size: 12px;
        line-height: 22px;
    }
}
