@import url("../../medium/css/theme.css");

.page-section {
  padding-top: 50px;
}

body.buddypress .page-section {
    padding-top: 30px;
}


.header-logo a {
	margin-top: 18px;
	font-size: 12px;
	text-transform: none;
	color: #222;
}

body.directory .block-content {
    margin-top: 20px;
}

.page-title {
    background-color: transparent;
    padding: 15px 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
}

.block-content .block-title {
    font-size: 18px;
    line-height: 28px
}

.footer-copyright {
    color: #fff;
    font-size: 12px;
    padding: 20px 0px 20px 0px;
}

.footer-copyright a {
    color: #F4D03F;
}
