h1, .h1 {
  letter-spacing: -0.6rem;
  word-spacing: -0.6rem;
}

h2, .h2 {
  letter-spacing: -0.5rem;
  word-spacing: -0.5rem;
}

h3, .h3 {
  letter-spacing: -0.4rem;
  word-spacing: -0.4rem;
}

h4, .h4 {
  letter-spacing: -0.3rem;
  word-spacing: -0.4rem;
}

h5, .h5 {
  letter-spacing: -0.2rem;
  word-spacing: -0.3rem;
}

h6, .h6 {
  letter-spacing: -0.1rem;
  word-spacing: -0.2rem;
}