// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #F0A44D;

// Type
$font-family-sans-serif:  'Roboto Condensed', sans-serif;
$headings-font-family:    'Ailerons';
