// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$white:                 #FFFFFF;
$dark-gray-1:           #333333;
$dark-gray-2:           #474747;
$light-gray:            #FAFAFA;
$orange-1:              #F0A44D;
$orange-2:              #F4BC7C;
$orange-3:              #F5C58E;

$brand-primary:         $orange-1;

// Type
$font-family-sans-serif:  'Roboto Condensed', sans-serif;
$headings-font-family:    'Ailerons';

$radius-1:                .25rem;
$radius-2:                .20rem;
